.matchRow {
    background-color: #000;
    border-radius: 15px;
    display: flex;
    width: 800px;
    margin-top: 20px;
}

.teamName {
    text-transform: uppercase;
    font-family: Pantos, sans-serif;
    color: #fff;
    padding: 20px;
    font-weight: 900;
    width: 250px;
    text-align: center;
}

.center {
    color: #000;
    background-color: #8de971;
    width: 280px;
    text-align: center;
    line-height: 52px;
}

.upcomingTime {
    font-family: Futura, sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 7px;
}

.scoreBar {
    display: flex;
    justify-content: space-between;
}

.scoreBar > div:first-child, .scoreBar > div:last-child {
    font-family: Pantos, sans-serif;
    font-size: 40px;
    font-weight: bold;
    width: 50px;
    text-align: center;
}

.periodTitle {
    font-size: 10px;
    font-family: Futura, sans-serif;
    line-height: 10px;
    white-space: nowrap;
}

.time {
    font-family: Panton, sans-serif;
    font-size: 25px;
    font-weight: bold;
}
